/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  /* цвета */
  --color-white: #ffffff;
  --color-green: #00cc14;
  --color-black: #000000;

  /* фон */
  --background-image: repeating-linear-gradient(
      to left,
      #d3d3d3 0 2px,
      #d3d3d300 2px 4px
    ),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, #9e959500 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);

  --background-color: var(--color-white, #ffffff);

  /* шрифт */
  --text-color: var(--color-black, #000000);
  --page-font-family: "Inter", sans-serif;
  --page-main-font-weight: 400;
  --headings-font-weight: 700;
  --accent-font-family: "PressStart2P", fantasy;

  /* сердце */
  --contour-color: var(--text-color);
  --main-body-color:none;
  --sparks-color: #ff0000;
}
